<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Friendships</title>
</head>
<body>
    <div class="d-flex justify-content-around flex-wrap">
        <h2 class="text-center">Friendships</h2>
        <table class="table table-info">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Friend</th>
                </tr>
            </thead>
            <tbody>
                <!-- Jinja for loop -->
                <tr>
                    <td>jinja syntax</td>
                    <td>jinja syntax</td>
                </tr>
                <!-- Jinja for loop -->
            </tbody>
        </table>
        <form action="/friendships" method="POST" class="col-3">
            <h2 class="text-info">Add User</h2>
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div class="form-group">
                <div>
                    <label class="author_label" for="first_name">Frist Name:</label>
                    <select name="first_name" class="form-control">
                </div>
                <div>
                    <label class="author_label" for="last_name">Last Name:</label>
                    <select name="last_name" class="form-control">
                </div>
            </div>
            <input type="submit" value="Add User" class="btn btn-primary mt-3">
        </form>
        <form action="/friendships" method="POST" class="col-3">
            <h2 class="text-info">Create Friendship</h2>
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div class="form-group">
                <label for="user_id">User:</label>
                <select name="user_id" class="form-control">
                    <!-- jinja loop -->
                    <option value="{{user.id}}">jinja</option>
                    <!-- jinja loop -->
                </select>
                <label for="friend_id">Friend:</label>
                <select name="friend_id" class="form-control">
                    <!-- jinja loop -->
                    <option value="{{friend.id}}">jinja</option>
                    <!-- jinja loop -->
                </select>
            </div>
            <input type="submit" value="Create" class="btn btn-primary mt-3">
        </form>
    </div>
</body>
</html>